<%= turbo_frame_tag "responses_list" do %>
  <% if responses.any? %>
    <div class="table-responsive data-table-wrapper">
      <table class="table align-middle mb-0">
        <thead>
          <tr>
            <th><%= t("responses.common.id", default: "Response ID") %></th>
            <th><%= t("responses.common.status_code") %></th>
            <th><%= t("responses.common.response_time") %> (ms)</th>
            <th><%= t("responses.common.error") %></th>
            <th><%= t("shared.time_of_ping") %></th>
          </tr>
        </thead>
        <tbody>
          <% responses.each do |response| %>
            <tr id="response-row-<%= response.id %>" class="<%= 'table-danger' if response.bad_status? || response.error_present? %>">
              <td><%= response.id %></td>
              <td><%= response.status_code %></td>
              <td><%= response.response_time %></td>
              <td><%= response.error.presence || t("responses.common.na") %></td>
              <td><%= response.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <%= paginate responses, params: local_assigns.fetch(:pagination_params, {}) %>
    </div>
  <% else %>
    <p class="surface-subtitle mb-0 text-nowrap"><%= local_assigns[:empty_message] || t("websites.list.no_responses") %></p>
  <% end %>
<% end %>

