<%= turbo_frame_tag "responses_list" do %>
  <% if responses.any? %>
    <div class="table-responsive data-table-wrapper">
      <table class="table align-middle mb-0">
        <thead>
          <tr>
            <th><%= "Response ID" %></th>
            <th><%= "Status Code" %></th>
            <th><%= "Response time (ms)" %></th>
            <th><%= "Error" %></th>
            <th><%= "Time of Ping" %></th>
          </tr>
        </thead>
        <tbody>
          <% responses.each do |response| %>
            <tr id="response-row-<%= response.id %>" class="<%= 'table-danger' if response.bad_status? || response.error_present? %>">
              <td><%= response.id %></td>
              <td><%= response.status_code %></td>
              <td><%= response.response_time %></td>
              <td><%= response.error.presence || "N/A" %></td>
              <td><%= response.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <%= paginate responses, params: local_assigns.fetch(:pagination_params, {}) %>
    </div>
  <% else %>
    <p class="surface-subtitle mb-0"><%= local_assigns[:empty_message] || "No responses found." %></p>
  <% end %>
<% end %>