<div id="websites_summary">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="display-6 mb-0 lightly-transparent"><%= "Websites" %></h1>
    <%= link_to "Add a Website", new_website_path, class: "btn add-website-button btn-md" %>
  </div>

  <% unless current_user.website_count < 1 %>
    <div class="row mb-4">
      <div class="col-md-6 mx-auto">
        <%= form_with url: websites_path, method: :get, local: true, class: "d-flex" do %>
          <%= text_field_tag :q, params[:q], class: "form-control me-2 search-input", placeholder: "Search websites..." %>
          <%= submit_tag "Search", class: "btn search-button" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <p class="lead mb-4 lightly-transparent d-flex align-items-center">
    <strong class="me-2"><%= "Total Websites:" %></strong>
    <span class="me-3"><%= current_user.website_count %></span>

    <%= link_to failures_websites_path, class: "btn btn-outline-danger btn-sm ms-3" do %>
      <span><%= "View Today's Failures" %></span>
      <span class="badge bg-danger ms-2"><%= @failed_websites_count.to_i %></span>
    <% end %>
  </p>
</div>