<p style="color: green"><%= notice %></p>

<% content_for :title, "Websites" %>

<h1>Websites</h1>

<div id="websites">
  <% @websites.each do |website| %>
    <%= render website %>
    <p>
      <%= "Responses: #{website.responses.count}" %>
    </p>
    <p>
      <%= link_to "Show this website", website %>
    </p>
    <p>
      <%= link_to "Edit this website", edit_website_path(website) %>
    </p>
    <p>
      <%= link_to "Destroy this website", website_path(website), method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
</div>

<%= link_to "New website", new_website_path %>
