<p><strong>URL:</strong> <%= @website.url %></p>

<hr>

<h3>Responses</h3>

<% if @website.responses.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Status Code</th>
        <th>Response Time (ms)</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody>
      <% @website.responses.each do |response| %>
        <tr>
          <td><%= response.status_code %></td>
          <td><%= response.response_time %></td>
          <td><%= response.error.presence || "N/A" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No responses yet for this website.</p>
<% end %>

<hr>

<%= link_to "Edit this website", edit_website_path(@website) %><br>
<%= button_to "Destroy this website", website_path(@website), method: :delete, data: { turbo_confirm: "Are you sure?" } %><br>
<%= link_to "Back", websites_path, class: "btn btn-secondary" %>
