<h2><%= t("devise_custom.edit_heading", resource: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :preferred_language, t("devise_custom.preferred_language") %><br />
    <%= f.select :preferred_language, language_options_for_select, { selected: resource.preferred_language || I18n.default_locale }, class: "form-select" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("devise_custom.waiting_confirmation", email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t("devise_custom.password_change_hint") %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t("devise_custom.password_length_hint", count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t("devise_custom.current_password_hint") %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t("devise_custom.update") %>
  </div>
<% end %>

<h3><%= t("devise_custom.cancel_account") %></h3>

<div><%= t("devise_custom.unhappy") %> <%= button_to t("devise_custom.cancel_account"), registration_path(resource_name), data: { confirm: t("devise_custom.confirmation_prompt"), turbo_confirm: t("devise_custom.confirmation_prompt") }, method: :delete %></div>

<%= link_to t("devise_custom.back"), :back %>
