<% content_for :body_class, "login-page" %>

<div class="login-main">
  <div class="login-brand"><%= t("devise_custom.brand") %></div>
  <div class="login-card">
    <h1><%= t("devise_custom.create_account") %></h1>
    <p class="login-meta"><%= t("devise_custom.create_account_subtitle") %></p>

    <div class="login-socials">
      <%= button_to user_facebook_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn" do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>

      <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn" do %>
        <i class="fab fa-google"></i>
      <% end %>

      <%= button_to user_twitter2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn" do %>
        <i class="fab fa-twitter"></i>
      <% end %>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t("devise_custom.email_placeholder") %>
      </div>

      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: t("devise_custom.password_placeholder") %>
      </div>

      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: t("devise_custom.password_confirmation_placeholder") %>
      </div>

      <%= f.submit t("devise_custom.create_account_cta"), class: "btn login_btn" %>
    <% end %>

    <div class="login-links">
      <div class="login-meta">
        <span><%= t("devise_custom.already_account") %></span>
        <%= link_to t("devise_custom.sign_in"), new_session_path(resource_name) %>
      </div>
    </div>
  </div>
</div>
