<div id="<%= dom_id response %>">
  <p>
    <strong><%= "Website:" %></strong>
    <%= response.website_id %>
  </p>

  <p>
    <strong><%= "Status code:" %></strong>
    <%= response.status_code %>
  </p>

  <p>
    <strong><%= "Response time:" %></strong>
    <%= response.response_time %>
  </p>

  <p>
    <strong><%= "Checked at:" %></strong>
    <%= response.created_at %>
  </p>

  <p>
    <strong><%= "Error:" %></strong>
    <%= response.error %>
  </p>

</div>
