<h1><%= t("responses.index.title") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("responses.common.status_code") %></th>
      <th><%= t("responses.index.response_time_header") %></th>
      <th><%= t("responses.common.error") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.status_code %></td>
        <td><%= t("responses.common.response_time_unit", time: response.response_time) %></td>
        <td><%= response.error.presence || t("responses.common.na") %></td>
        <td>
          <%= link_to t("responses.common.show"), [@website, response] %> |
          <%= link_to t("responses.common.edit"), edit_website_response_path(@website, response) %> |
          <%= link_to t("responses.common.destroy"), website_response_path(@website, response),
            data: { turbo_method: :delete, turbo_confirm: t("responses.common.confirm") } %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to t("responses.index.new_response"), new_website_response_path(@website) %> |
  <%= link_to t("responses.common.back"), website_path(@website) %>
</p>

