<p>
  <strong>Status Code:</strong> <%= @response.status_code %><br>
  <strong>Response Time:</strong> <%= @response.response_time %> ms<br>
  <strong>Error:</strong> <%= @response.error.presence || "N/A" %>
</p>

<p>
  <%= link_to "Edit", edit_website_response_path(@website, @response) %> |
  <%= link_to "Back", website_responses_path(@website) %>
</p>
