<p>
  <strong><%= t("responses.show.status_code_label") %></strong> <%= @response.status_code %><br>
  <strong><%= t("responses.show.response_time_label") %></strong> <%= t("responses.common.response_time_unit", time: @response.response_time) %><br>
  <strong><%= t("responses.show.error_label") %></strong> <%= @response.error.presence || t("responses.common.na") %>
</p>

<p>
  <%= link_to t("responses.common.edit"), edit_website_response_path(@website, @response) %> |
  <%= link_to t("responses.common.destroy"), website_response_path(@website, @response), method: :delete, data: { confirm: t("responses.common.confirm") } %>
  <%= link_to t("responses.common.back"), website_responses_path(@website) %>
</p>
