<!DOCTYPE html>
<html>
  <head>
    <title>Sign in | Ping Empire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="turbo-prefetch" content="false">
  </head>

  <body class="login-page bg-image app-body">
    <main class="login-main">
      <div class="login-brand"><%= "Ping Empire" %></div>
      <div class="login-card">
        <h1><%= "Welcome back" %></h1>
        <p class="login-meta"><%= "Sign in to keep watch over your mountain lake monitors." %></p>

        <div class="login-socials">
          <%= button_to user_facebook_omniauth_authorize_path, method: :post, class: "btn", data: { turbo: false } do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>

          <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn" do %>
            <i class="fab fa-google"></i>
          <% end %>

          <%= button_to user_twitter2_omniauth_authorize_path, method: :post, class: "btn", data: { turbo: false } do %>
            <i class="fab fa-twitter"></i>
          <% end %>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>

          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>

          <div class="remember-me">
            <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
            <%= f.label :remember_me, "Remember me", class: "form-check-label" %>
          </div>

          <%= f.submit "Login", class: "btn login_btn" %>
        <% end %>

        <div class="login-links">
          <div class="login-meta">
            <span><%= "Don't have an account?" %></span>
            <%= link_to "Sign up", new_registration_path(resource_name) %>
          </div>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>
      </div>
    </main>
  </body>
</html>
