<h1>Your Dashboard</h1>

<p><strong>Total Websites:</strong> <%= @websites.count %></p>

<%= link_to "Add a Website", new_website_path, class: "btn btn-primary mb-3" %>

<% @websites.each do |website| %>
  <div class="card mb-3 p-3">
    <h5><%= link_to website.url, website_path(website) %></h5>
    <p>Responses: <%= website.responses.count %></p>
    <% if website.responses.any? %>
      <% last = website.responses.last %>
      <p>Last status: <%= last.status_code %> at <%= last.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    <% end %>
  </div>
<% end %>
