<% flash.each do |type, message| %>
  <div class="alert alert-<%= bootstrap_class_for(type) %> text-center mb-4" role="alert">
    <%= message %>
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h3 mb-0">Your Dashboard</h1>
  <%= link_to "Add a Website", new_website_path, class: "btn btn-primary" %>
</div>

<p class="lead mb-4">
  <strong>Total Websites:</strong> <%= current_user.websites.count %>
</p>

<div>
  <%= render partial:"websites/list", locals:{ websites: @websites } %>
</div>